<header>
  <h2>Servicios</h2>
</header>
<article class="contenedor-card">
  <div class="card" style="width: 18rem;">
    <img src="assets/img/contabilidad.webp " class="card-img-top" alt="contabilidad" loading="lazy" />
    <div class="card-body">
      <div>
        <h5 class="card-title">Diagnóstico económico y financiero</h5>
        <p class="card-text">
          Analizamos de forma integral tu empresa y cada una de las áreas que la componen por medio de entrevistas,
          observaciones y estudio de datos, ésto permite interiorizarnos y caminar junto a vos para brindarte al
          final del proceso, el estado de situación económico y financiero, procesos de trabajo y uso de recursos.
        </p>
      </div>
      <a [routerLink]="['/servicios']" fragment="contabilidad" class=""><i class="bi bi-arrow-right-circle"></i></a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets/img/finanzas.webp" class="card-img-top" alt="sueldos" loading="lazy" />
    <div class="card-body">
      <div>
        <h5 class="card-title">Finanzas</h5>
        <p class="card-text">
          Queremos que nuestros clientes no pierdan oportunidad de expansión. Nos encargamos del armado del proyecto,
          presentación y elegibilidad.
        </p>
      </div>
      <a [routerLink]="['/servicios']" fragment="financiamiento" class=""><i class="bi bi-arrow-right-circle"></i></a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets/img/soft.webp " class="card-img-top" alt="sueldos" loading="lazy" />
    <div class="card-body">
      <div>
        <h5 class="card-title">Recursos humanos</h5>
        <p class="card-text">
          Es sabido que el capital humano es el activo intangible más importante de las empresas. Considerando un
          entorno
          económico complejo y lleno de incertidumbre, el área de recursos humanos cobra un protagonismo fundamental
          para
          lograr la evolución de la empresa.
        </p>
      </div>
      <a [routerLink]="['/servicios']" fragment="skills" class=""><i class="bi bi-arrow-right-circle"></i></a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets/img/impuestos.webp" class="card-img-top" alt="impuestos" loading="lazy" />
    <div class="card-body">
      <div>
        <h5 class="card-title">Administración y gestión</h5>
        <p class="card-text">
          Debido al entorno económico turbulento y dinámico que actualmente, a nivel mundial, padecen las
          organizaciones,
          las mismas se sumergen en el trabajo netamente operativo.
        </p>
      </div>
      <a [routerLink]="['/servicios']" fragment="impuestos" class=""><i class="bi bi-arrow-right-circle"></i></a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets/img/Auditoria-Administrativa.webp " class="card-img-top" alt="Auditoria Administrativa"
      loading="lazy" />
    <div class="card-body">
      <div>
        <h5 class="card-title">Desarrollo del plan estratégico comercial</h5>
        <p class="card-text">
          Un plan de acción comercial es fundamental en función de los objetivos definidos a corto, mediano y largo
          plazo.
          Un correcto desarrollo estratégico direcciona y agiliza el camino hacia el éxito, con una mayor participación
          en
          el mercado.
        </p>
      </div>
      <a [routerLink]="['/servicios']" fragment="auditoria" class=""><i class="bi bi-arrow-right-circle"></i></a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets/img/digitales.webp" class="card-img-top" alt="sueldos" loading="lazy" />
    <div class="card-body">
      <div>
        <h5 class="card-title">Servicios digitales</h5>
        <p class="card-text">
          Nuestra consultora tiene como objetivo identificar oportunidades de mejora, con el fin de automatizar tareas y
          procesos mediante el uso de la tecnología.
        </p>
      </div>
      <a [routerLink]="['/servicios']" fragment="servicios-digitales" class=""><i
          class="bi bi-arrow-right-circle"></i></a>
    </div>
  </div>
</article>