<header>
  <h2>Servicios</h2>
</header>
<article class="contenedor-card">
  <div class="card" style="width: 18rem">
    <img src="assets/img/contabilidad.webp " class="card-img-top" alt="contabilidad" loading="lazy" />
    <div class="card-body">
      <h5 class="card-title">Contabilidad</h5>
      <p class="card-text">
        <span>Asesoramiento contable integral.</span>
        • Inscripción y constitución de sociedades según normas vigentes. •
        Implementación de sistemas informáticos contables y de costos...
      </p>
      <a [routerLink]="['/servicios']" fragment="contabilidad" class=""><i class="bi bi-arrow-right-circle"></i></a>
    </div>
  </div>
  <div class="card" style="width: 18rem">
    <img src="assets/img/impuestos.webp" class="card-img-top" alt="impuestos" loading="lazy"/>
    <div class="card-body">
      <h5 class="card-title">Impuestos</h5>
      <p class="card-text">
        Confección de declaraciones juradas de impuestos nacionales y
        provinciales. Regímenes de retención Reducción de retenciones de
        ingresos brutos Recategorizacion de monotributo.
      </p>
      <a [routerLink]="['/servicios']" fragment="impuestos" class=""><i class="bi bi-arrow-right-circle"></i></a>
    </div>
  </div>
  <div class="card" style="width: 18rem">
    <img
      src="assets/img/Auditoria-Administrativa.webp "
      class="card-img-top"
      alt="Auditoria Administrativa"
      loading="lazy"
    />
    <div class="card-body">
      <h5 class="card-title">Auditoria</h5>
      <p class="card-text">
        Nos ocupamos de
        optimizar tus tiempos, tus recursos y no desviarnos de los objetivos
        definidos.
      </p>
      <a [routerLink]="['/servicios']" fragment="auditoria" class=""><i class="bi bi-arrow-right-circle"></i></a>
    </div>
  </div>
  <div class="card" style="width: 18rem">
    <img
      src="assets/img/sueldos.webp "
      class="card-img-top"
      alt="sueldos"
      loading="lazy"
    />
    <div class="card-body">
      <h5 class="card-title">Sueldos</h5>
      <p class="card-text">
        Contamos con un basto conocimiento en materia
        laboral que nos permitirá asistir a tus inquitudes y en el cumplimiento
        de tus obligaciones.
      </p>
      <a [routerLink]="['/servicios']" fragment="sueldos" class=""><i class="bi bi-arrow-right-circle"></i></a>
    </div>
  </div>
</article>
