<header>
  <h2>Servicios</h2>
</header>
<article class="contenedor-card">
  <!--Contabilidad-->
  <div class="card">
    <img
      src="assets/img/contabilidad.webp "
      class="card-img-top"
      alt="contabilidad"
      loading="lazy"
    />
    <div class="card-body">
      <div>
        <h5 class="card-title">Diagnóstico económico y financiero</h5>
        <p class="card-text">
          Así como una empresa necesita medir su rentabilidad, también necesita
          entender su salud económica y financiera. En Impulso Consultora te
          ayudamos a ver con claridad dónde estás y hacia dónde podés crecer.
        </p>
      </div>
      <a [routerLink]="['/servicios']" fragment="contabilidad" class=""
        ><i class="bi bi-arrow-right-circle"></i
      ></a>
    </div>
  </div>
  <!--Finanzas-->
  <div class="card">
    <img
      src="assets/img/finanzas.webp"
      class="card-img-top"
      alt="sueldos"
      loading="lazy"
    />
    <div class="card-body">
      <div>
        <h5 class="card-title">Finanzas</h5>
        <p class="card-text">
          Las oportunidades no esperan. Una gestión financiera inteligente
          permite crecer con estrategia, aprovechar el momento y expandir sin
          poner en riesgo la estabilidad de tu empresa.
        </p>
      </div>
      <a [routerLink]="['/servicios']" fragment="financiamiento" class=""
        ><i class="bi bi-arrow-right-circle"></i
      ></a>
    </div>
  </div>
  <!--Recursos Humanos-->
  <div class="card">
    <img
      src="assets/img/soft.webp "
      class="card-img-top"
      alt="sueldos"
      loading="lazy"
    />
    <div class="card-body">
      <div>
        <h5 class="card-title">Recursos humanos</h5>
        <p class="card-text">
          Las empresas crecen con personas, no solo con números. Una gestión
          humana y estratégica del talento marca la diferencia entre sostenerse
          o evolucionar.
        </p>
      </div>
      <a [routerLink]="['/servicios']" fragment="skills" class=""
        ><i class="bi bi-arrow-right-circle"></i
      ></a>
    </div>
  </div>
  <!--Administración y gestión-->
  <div class="card">
    <img
      src="assets/img/impuestos.webp"
      class="card-img-top"
      alt="impuestos"
      loading="lazy"
    />
    <div class="card-body">
      <div>
        <h5 class="card-title">Administración y gestión</h5>
        <p class="card-text">
          Las empresas que solo operan, sobreviven. Las que gestionan con
          estrategia, crecen. En Impulso Consultora ayudamos a transformar la
          operación diaria en una gestión inteligente y rentable.
        </p>
      </div>
      <a [routerLink]="['/servicios']" fragment="impuestos" class=""
        ><i class="bi bi-arrow-right-circle"></i
      ></a>
    </div>
  </div>
  <!--Plan Estratégico Empresarial-->
  <div class="card">
    <img
      src="assets/img/Auditoria-Administrativa.webp "
      class="card-img-top"
      alt="Auditoria Administrativa"
      loading="lazy"
    />
    <div class="card-body">
      <div>
        <h5 class="card-title">Desarrollo del Plan Estratégico Empresarial</h5>
        <p class="card-text">
          Las empresas que crecen no lo hacen por casualidad, sino por
          estrategia. En Impulso Consultora te ayudamos a definir un rumbo
          claro, medible y sostenible.
        </p>
      </div>
      <a [routerLink]="['/servicios']" fragment="auditoria" class=""
        ><i class="bi bi-arrow-right-circle"></i
      ></a>
    </div>
  </div>
  <!--Transformación Digital y Automatización-->
  <div class="card">
    <img
      src="assets/img/digitales.webp"
      class="card-img-top"
      alt="sueldos"
      loading="lazy"
    />
    <div class="card-body">
      <div>
        <h5 class="card-title">Transformación Digital y Automatización</h5>
        <p class="card-text">
          La tecnología no reemplaza el trabajo: lo potencia. En Impulso
          Consultora ayudamos a que tu empresa evolucione, automatice y gane
          tiempo para enfocarse en lo importante.
        </p>
      </div>
      <a [routerLink]="['/servicios']" fragment="servicios-digitales" class=""
        ><i class="bi bi-arrow-right-circle"></i
      ></a>
    </div>
  </div>
    <!--Legales-->
  <div class="card">
    <img
      src="assets/img/legal.jpg"
      class="card-img-top"
      alt="Legales"
      loading="lazy"
    />
    <div class="card-body">
      <div>
        <h5 class="card-title">Legales</h5>
        <p class="card-text">
          Tomar decisiones sin respaldo legal puede costarle caro a tu empresa.
          Nosotros te ayudamos a blindar tu negocio con soluciones jurídicas
          estratégicas y a medida.
        </p>
      </div>
      <a [routerLink]="['/servicios']" fragment="legales" class=""
        ><i class="bi bi-arrow-right-circle"></i
      ></a>
    </div>
  </div>
  <!--Comercial & Marketing-->
  <div class="card">
    <img
      src="assets/img/comercial.jpg"
      class="card-img-top"
      alt="comercial y marketing"
      loading="lazy"
    />
    <div class="card-body">
      <div>
        <h5 class="card-title">Comercial & Marketing</h5>
        <p class="card-text">
          Hoy no alcanza con estar presente en el mercado: hay que destacar,
          conectar y convertir. Nosotros transformamos tu visibilidad en
          resultados reales.
        </p>
      </div>
      <a [routerLink]="['/servicios']" fragment="comercial" class=""
        ><i class="bi bi-arrow-right-circle"></i
      ></a>
    </div>
  </div>
</article>
