<!-- ======= Hero Section ======= -->
<section id="carouselHeroCaptions" class="carousel slide" data-bs-ride="carousel" data-bs-interval="9000">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselHeroCaptions"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselHeroCaptions"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselHeroCaptions"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets\img\image.jpg" class="d-block w-100" alt="..." />
      <div class="carousel-caption d-md-block">
        <h1>Asesoramiento contable integral</h1>
        <ul>
          <li>
            Inscripción y constitución de sociedades según normas vigentes.
          </li>
          <li>
            Implementación de sistemas informáticos contables y de costos.
          </li>
          <li>
            Confección y armado de balances y/o estados contables de cierres
            anuales o periodos intermedios.
          </li>
          <li>Confección de actas de asamblea, de directorio.</li>
          <li>Análisis de estados contables.</li>
        </ul>
        <button class="getstarted">Contacto</button>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets\img\team\team-3.jpg" class="d-block w-100" alt="..." />
      <div class="carousel-caption d-md-block">
        <h1>Impuestos</h1>
        <p>Some representative placeholder content for the second slide.</p>
        <button class="getstarted">Contacto</button>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets\img\image.jpg" class="d-block w-100" alt="..." />
      <div class="carousel-caption d-md-block">
        <h1>Auditorias</h1>
        <p>Some representative placeholder content for the third slide.</p>
        <button class="getstarted">Contacto</button>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselHeroCaptions"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselHeroCaptions"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</section>
<!-- End hero -->
