<!-- ======= Hero Section ======= -->
<section id="carouselHeroCaptions" class="carousel slide" data-bs-ride="carousel" data-bs-interval="9000">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselHeroCaptions"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselHeroCaptions"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselHeroCaptions"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="\assets\img\slide-1-ic.png" class="d-block w-100" alt="..." />
      <div class="carousel-caption d-md-block">
        <h1>Tu éxito es nuestra misión</h1>
        <ul>
          <li>
            Identificamos oportunidades de mejora para tu negocio.
          </li>
          <li>
            Soluciones a medida que impulsan tu éxito.
          </li>
        </ul>
        <button class="getstarted">Contacto</button>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets\img\slide-2-ic.png" class="d-block w-100" alt="..." />
      <div class="carousel-caption d-md-block">
        <h1>Somos parte del cambio</h1>
        <p>Implementamos junto a vos y el equipo de trabajo las propuestas y mejoras detectadas. Te
          acompañamos en todo el proceso hasta alcanzar el resultado deseado.</p>
        <button class="getstarted">Contacto</button>
      </div>
    </div>
    <div class="carousel-item">
      <img src="\assets\img\slide-3-ic.png" class="d-block w-100" alt="..." />
      <div class="carousel-caption d-md-block">
        <h1>Eficientizar procesos inspirados en cambios digitales.</h1>
        <p>Usamos la tecnología como uno de nuestros principales aliados para generar un impacto
          multidireccional.</p>
        <button class="getstarted">Contacto</button>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselHeroCaptions"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselHeroCaptions"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</section>
<!-- End hero -->
