/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------
#id="carouselHeroCaptions"*/
.getstarted {
  text-decoration: none;
}
#carouselHeroCaptions {
  position: relative;
}

#carouselHeroCaptions::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(
    0,
    0,
    0,
    0.5
  ); /* Aquí puedes ajustar el nivel de opacidad (0.5 para un 50% de opacidad) */
  z-index: 1; /* Asegura que la capa esté sobre la imagen de fondo */
}

#carouselHeroCaptions .carousel-inner img {
  height: 95vh;
  object-fit: cover;
  object-position: top;
}

#carouselHeroCaptions .carousel-inner .carousel-caption {
  display: flex !important;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  position: absolute;
  right: 15%;
  bottom: 40%;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  z-index: 2;
  background-color: #09121aad;
  max-width: 40% !important;
  min-height: 30vh;
  padding: 3rem;
  border-radius: 65px 65px 65px 2px;
  justify-content: space-evenly;
}

#carouselHeroCaptions .carousel-inner .carousel-caption .getstarted {
  padding: 8px 20px;
  border-radius: 50px;
  color: var(--text-color-b);
  font-size: 14px;
  border: 2px solid var(--secondary-color);
  font-weight: 600;
  background: transparent;
}

#carouselHeroCaptions .carousel-inner .carousel-caption .getstarted:hover {
  color: var(--text-color-b);
  background: var(--secondary-color);
}

@media (max-width: 850px) {
  #carouselHeroCaptions .carousel-inner .carousel-caption {
    text-align: start;
    position: absolute;
    right: 15%;
    bottom: 15%;
    left: 15%;
    padding: 1.25rem 0px;
    color: #fff;
    max-width: 60%;
    z-index: 2;
    background-color: transparent;
    max-width: 100% !important;
    min-height: auto;
  }
}

@media (max-height: 950px) {
  #carouselHeroCaptions .carousel-inner .carousel-caption {
    text-align: start;
    position: absolute;
    right: 15%;
    bottom: 12%;
    left: 15%;
    color: #fff;
    max-width: 60%;
    z-index: 2;
    font-size: larger;
  }
}
