<div class="divisor-superior" id="contabilidad"></div>
<section class="container contabilidad">
  <div class="row align-items-center">
    <div class="row p-4">
      <h1>Contabilidad</h1>
      <p>
        Despreocupate que nos encargamos de que la partida doble en los libros
        este bien… si queres saber mas en detalle porque sos curioso ahí va:
      </p>
    </div>
    <div class="col">
      <div class="container text-start">
        <div class="row g-2">
          <div class="col-6">
            <div class="capsula-item">
              <p>
                <i class="bi bi-check2-square"></i> Inscripción y constitución
                de sociedades según normas vigentes.
              </p>
            </div>
          </div>
          <div class="col-6">
            <div class="capsula-item">
              <p>
                <i class="bi bi-check2-square"></i> Implementación de sistemas
                informáticos contables y de costos.
              </p>
            </div>
          </div>
          <div class="col-6">
            <div class="capsula-item">
              <p>
                <i class="bi bi-check2-square"></i> Confección y armado de
                balances y/o estados contables de cierres anuales o periodos
                intermedios.
              </p>
            </div>
          </div>
          <div class="col-6">
            <div class="capsula-item">
              <p>
                <i class="bi bi-check2-square"></i> Confección de actas de
                asamblea, de directorio.
              </p>
            </div>
          </div>
          <div class="col-6">
            <div class="capsula-item">
              <p>
                <i class="bi bi-check2-square"></i> Análisis de estados
                contables.
              </p>
            </div>
          </div>
          <div class="col-6">
            <div class="capsula-item">
              <p>
                <i class="bi bi-check2-square"></i> Certificaciones de ingresos.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="divisor"></div>
<section class="container impuestos" id="impuestos">
  <div class="row align-items-center">
    <div class="row p-4">
      <h1>Impuestos:</h1>
      <p>
        Desde impulso consultora apuntamos a que tu empresa tenga una pacifica
        relación fisco- contribuyente. Que hacemos por vos en esta área:
      </p>
    </div>
    <div class="col">
      <div class="container">
        <div class="container text-start">
          <div class="row g-2">
            <div class="col-6">
              <div class="capsula-item">
                <p>
                  <i class="bi bi-check2-square"></i> Apropiada interpretación
                  de las normas que regulan la materia.
                </p>
              </div>
            </div>
            <div class="col-6">
              <div class="capsula-item">
                <p>
                  <i class="bi bi-check2-square"></i> Confeccion de
                  declaraciones juradas de impuestos nacionales y provinciales.
                </p>
              </div>
            </div>
            <div class="col-6">
              <div class="capsula-item">
                <p>
                  <i class="bi bi-check2-square"></i> Regimenes de retención.
                </p>
              </div>
            </div>
            <div class="col-6">
              <div class="capsula-item">
                <p>
                  <i class="bi bi-check2-square"></i> Reducción de retenciones
                  de ingresos brutos.
                </p>
              </div>
            </div>
            <div class="col-6">
              <div class="capsula-item">
                <p>
                  <i class="bi bi-check2-square"></i> Recategorizacion de
                  monotributo.
                </p>
              </div>
            </div>
            <div class="col-6">
              <div class="capsula-item">
                <p>
                  <i class="bi bi-check2-square"></i> Atención de inspecciones
                  de organismos nacionales y provinciales.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="divisor"></div>
<section class="container auditoria" id="auditoria">
  <div class="row align-items-center">
    <div class="row p-4">
      <h1>Auditoria:</h1>
      <p>
        Sabias que no solo los balances se auditan?... bueno nosotros tambien te
        auditamos los procesos, tareas y funciones. Nos ocupamos de optimizar
        tus tiempos, tus recursos y no desviarnos de los objetivos definidos.
      </p>
    </div>
  </div>
</section>
<div class="divisor"></div>
<section class="container sueldos" id="sueldos">
  <div class="row align-items-center">
    <div class="row p-4">
      <h1>Sueldos:</h1>
      <p>
        Tranquilo…llego impulso!. Contamos con un basto conocimiento en materia
        laboral que nos permitirá asistir a tus inquitudes y en el cumplimiento
        de tus obligaciones.
      </p>
    </div>
    <div class="col">
      <div class="container text-start">
        <div class="row g-2">
          <div class="col-6">
            <div class="capsula-item">
              <p>
                <i class="bi bi-check2-square"></i> Liquidaciones de sueldos
                mensuales, finales.
              </p>
            </div>
          </div>
          <div class="col-6">
            <div class="capsula-item">
              <p>
                <i class="bi bi-check2-square"></i> Altas, bajas y
                modificaciones.
              </p>
            </div>
          </div>
          <div class="col-6">
            <div class="capsula-item">
              <p>
                <i class="bi bi-check2-square"></i> Libro de sueldo digital.
              </p>
            </div>
          </div>
          <div class="col-6">
            <div class="capsula-item">
              <p>
                <i class="bi bi-check2-square"></i> Resolucion de inspecciones
                por parte de organismos nacionales, provinciales y sindicato.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="divisor"></div>
<section class="container financiamiento" id="financiamiento">
  <div class="row align-items-center">
    <div class="row p-4">
      <h1>Financiamiento:</h1>
      <p>
        Desde nuestra consultora estamos pendientes a todas las líneas de
        financiación. Queremos que nuestros clientes no pierdan oportunidad de
        expansion. Nos encargamos del armado del proyecto, presentación y
        elegibilidad.
      </p>
    </div>
  </div>
</section>
<div class="divisor"></div>
<section class="container servicios-digitales" id="servicios-digitales">
  <div class="row align-items-center">
    <div class="row p-4">
      <h1>Servicios Digitales:</h1>
      <p>
        Nuestra consultora tiene como objetivo identificar oportunidades de
        mejora, con el fin de automatizar tareas y procesos mediante el uso de
        la tecnología.
      </p>
    </div>
    <div class="container">
      <div class="col">
        <div class="container text-start">
          <div class="row g-2">
            <div class="col-6">
              <div class="capsula-item">
                <p>
                  <i class="bi bi-check2-square"></i> Beneficios a través del
                  uso de la digitalización:.
                </p>
              </div>
            </div>
            <div class="col-6">
              <div class="capsula-item">
                <p>
                  <i class="bi bi-check2-square"></i> Informacion precisa y
                  oportuna para la toma de decisiones.
                </p>
              </div>
            </div>
            <div class="col-6">
              <div class="capsula-item">
                <p>
                  <i class="bi bi-check2-square"></i> Medición de resultados con
                  estadísticas que optimicen los parámetros fundamentales.
                </p>
              </div>
            </div>
            <div class="col-6">
              <div class="capsula-item">
                <p>
                  <i class="bi bi-check2-square"></i> Activa conexión entre tus
                  clientes y usuarios.
                </p>
              </div>
            </div>
            <div class="col-6">
              <div class="capsula-item">
                <p>
                  <i class="bi bi-check2-square"></i> Incrementa tu alcance,
                  Maximiza tus beneficios.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="divisor"></div>
<section class="container skills" id="skills">
  <div class="row align-items-center">
    <div class="row p-4">
      <h1>Capacitación en soft skills</h1>
      <p>
        ¿Notas malas caras, ausentismo, falta de compromiso?... Desde Impulso
        consultora consideramos a la felicidad de los colaboradores como un
        aspecto esencial para una organización optimizada y productiva, que
        impacta directamente en la rentabilidad de la misma.
      </p>
    </div>
    <div class="container d-flex justify-content-center">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              <strong>Motivación:</strong>
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse show"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <p>
                <strong>
                  ¿Notas malas caras, ausentismo, falta de compromiso?...
                </strong>
                Desde Impulso consultora consideramos a la felicidad de los
                colaboradores como un aspecto esencial para una organización
                optimizada y productiva, que impacta directamente en la
                rentabilidad de la misma.
              </p>
              <p>
                Sin dudas el capital más importante para una empresa es el
                humano. Un colaborador motivado es sinónimo de felicidad, por lo
                tanto, una persona productiva que maximiza y aprovecha los
                recursos y el tiempo. Motivar es liderar, conducir hacia el
                logro de los objetivos, crear aspiraciones y mayor compromiso.
              </p>
              <p>
                Desde nuestra consultora realizamos estudios de casos, con
                diferentes técnicas motivacionales en charlas individuales y
                grupales, manteniendo la confidencialidad y fomentando un mejor
                clima laboral.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              <strong>Liderazgo:</strong>
            </button>
          </h2>
          <div
            id="collapseTwo"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <strong>Lider se hace o se nace?</strong>
              <p>
                Desde Impulso consultora consideramos que la concreción de
                objetivos es importante, pero transitar el camino hacia ello de
                manera sana y feliz lo es aún más. Te dotamos de herramientas
                para que esto deje de ser una ilusión.
              </p>
              <p>
                Entendemos que los modos, o el cómo hacer las cosas, hacen la
                diferencia. Es por ello que nos concentramos en ofrecer los
                instrumentos pertinentes, con el fin de lograr el éxito en
                aspectos cuantitativos y cualitativos.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              <strong>Trabajo en equipo:</strong>
            </button>
          </h2>
          <div
            id="collapseThree"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <strong
                >El trabajo en equipo es la sinergia de las distintas personas
                para cumplir un objetivo determinado.</strong
              >
              <p>
                Consideramos fundamental hacer foco en este aspecto, el cual
                concierne a cada factor y parte de la empresa. Identificamos y
                brindamos las claves que garanticen el modo más eficaz de
                gestionar equipos hacia el logro de lo planteado.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapse4"
              aria-expanded="false"
              aria-controls="collapse4"
            >
              <strong>Comunicación efectiva:</strong>
            </button>
          </h2>
          <div
            id="collapse4"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <p>
                El mayor desafío que enfrenta una organización sin duda, es <strong>la
                  comunicación.</strong> Lograr transmitir de forma clara y concisa a
                nuestro equipo de trabajo hacia dónde vamos y de qué manera lo
                vamos a conseguir dará como resultado una empresa exitosa y
                sustentable.
              </p>
              <p>
                Entendemos que desarrollar este aspecto es fundamental para llegar a nuestro cliente de manera
                sencilla, y además para fortalecer la sinergia en el trabajo cotidiano.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
