<div class="divisor-superior" id="contabilidad"></div>
<section class="container contabilidad">
  <div class="row align-items-center">
    <div class="row p-4">
      <h1>Diagnóstico económico y financiero</h1>
      <p>
        Analizamos de forma integral tu empresa y cada una de las áreas que la componen por medio de entrevistas, observaciones y estudio de datos, esto permite interiorizarnos y caminar junto a vos para brindarte al final del proceso, el estado de situación económico y financiero, de procesos de trabajo y uso de recursos.
      </p>
      <p>
        Nuestro objetivo radica en identificar oportunidades de mejora, dominar variables controlables, enfocando tus energías para generar una mayor utilidad y participación en el mercado.     
      </p>
    </div>
    <div class="col">
      <div class="container text-start">
        <div class="row g-2">
          <div class="col-6">
            <div class="capsula-item">
              <p>
                <i class="bi bi-check2-square"></i> Análisis de costos integrales y por unidad de negocio.
              </p>
            </div>
          </div>
          <div class="col-6">
            <div class="capsula-item">
              <p>
                <i class="bi bi-check2-square"></i> Análisis de rentabilidad.
              </p>
            </div>
          </div>
          <div class="col-6">
            <div class="capsula-item">
              <p>
                <i class="bi bi-check2-square"></i> Identificación de unidades de negocio.
              </p>
            </div>
          </div>
          <div class="col-6">
            <div class="capsula-item">
              <p>
                <i class="bi bi-check2-square"></i> Propuesta de valor sobre procesos, uso de recursos y protocolos de trabajo.
              </p>
            </div>
          </div>
          <div class="col-6">
            <div class="capsula-item">
              <p>
                <i class="bi bi-check2-square"></i> Direccionar los esfuerzos hacia la maximización de las ganancias.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="divisor"></div>
<div id="financiamiento"></div>
<section class="container financiamiento">
  <div class="row align-items-center">
    <div class="row p-4">
      <h1>Finanzas</h1>
      <p>
        Queremos que nuestros clientes no pierdan oportunidad de expansión. Nos
        encargamos del armado del proyecto, presentación y elegibilidad.
      </p>
    </div>
    <div class="col">
      <div class="container">
        <div class="container text-start">
          <div class="row g-2">
            <div class="col-6">
              <div class="capsula-item">
                <p><i class="bi bi-check2-square"></i> Líneas de crédito.</p>
              </div>
            </div>
            <div class="col-6">
              <div class="capsula-item">
                <p>
                  <i class="bi bi-check2-square"></i> Análisis de indicadores
                  financieros.
                </p>
              </div>
            </div>
            <div class="col-6">
              <div class="capsula-item">
                <p>
                  <i class="bi bi-check2-square"></i> Inversión y ahorro:
                  herramientas.
                </p>
              </div>
            </div>
            <div class="col-6">
              <div class="capsula-item">
                <p>
                  <i class="bi bi-check2-square"></i> Plazos de cobranzas y
                  pagos.
                </p>
              </div>
            </div>
            <div class="col-6">
              <div class="capsula-item">
                <p>
                  <i class="bi bi-check2-square"></i> Economía 3D, una nueva dimensión.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="divisor"></div>
<div id="skills"></div>
<section class="container skills">
  <div class="row align-items-center">
    <div class="row p-4">
      <h1>Recursos humanos </h1>
      <p>
        Es sabido que el capital humano es el activo intangible más importante de las empresas. Considerando un entorno económico complejo y lleno de incertidumbre, el área de recursos humanos cobra un protagonismo fundamental para lograr la evolución de la empresa. 
      </p>
      <p>
        Desde Impulso Consultora propiciamos pensar no solo en la gestión económica del capital humano, sino también medir el trabajo y el nivel de desempeño de cada uno de sus colaboradores y poner en valor los resultados que aportan a la organización.
      </p>
    </div>
    <div class="col">
      <div class="container">
        <div class="container text-start">
          <div class="row g-2">
            <div class="col-6">
              <div class="capsula-item">
                <p>
                  <i class="bi bi-check2-square"></i> Reclutamiento.
                </p>
              </div>
            </div>
            <div class="col-6">
              <div class="capsula-item">
                <p>
                  <i class="bi bi-check2-square"></i> Información precisa y
                  oportuna para la toma de decisiones.
                </p>
              </div>
            </div>
            <div class="col-6">
              <div class="capsula-item">
                <p>
                  <i class="bi bi-check2-square"></i> Evaluación: Definir indicadores que midan el desempeño.
                </p>
              </div>
            </div>
            <div class="col-6">
              <div class="capsula-item">
                <p>
                  <i class="bi bi-check2-square"></i> Comunicación: Nos encargamos de brindar herramientas para gestionar de manera estratégica la comunicación, lo cual aporta un valor diferencial a la institución.
                </p>
              </div>
            </div>
            <div class="col-6">
              <div class="capsula-item">
                <p>
                  <i class="bi bi-check2-square"></i> Motivación: Herramientas para crear un ambiente laboral saludable.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="divisor"></div>
<div id="impuestos"></div>
<section class="container impuestos">
  <div class="row align-items-center">
    <div class="row p-4">
      <h1>Administración y gestión</h1>
      <p>
        Debido al entorno económico turbulento y dinámico que actualmente, a nivel mundial, padecen las organizaciones, las mismas se sumergen en el trabajo netamente operativo. 
      </p>
      <p>
        Desde Impulso Consultora queremos ser parte sumando un aire externo y fresco, que permita a nuestros clientes apoyarse en nosotros, con el fin de dar un salto cualitativo hacia lo ejecutivo, maximizando sus ganancias y optimizando su tiempo.
      </p>
    </div>
    <div class="col">
      <div class="container">
        <div class="container text-start">
          <div class="row g-2">
            <div class="col-6">
              <div class="capsula-item">
                <p>
                  <i class="bi bi-check2-square"></i>Análisis, definición de procesos y protocolos de trabajo.
                </p>
              </div>
            </div>
            <div class="col-6">
              <div class="capsula-item">
                <p>
                  <i class="bi bi-check2-square"></i> Definición y reasignación de los recursos con el fin de eficientizar el uso de los mismo y orientar las energías a las unidades de negocio y procesos productivos más rentables.
                </p>
              </div>
            </div>
            <div class="col-6">
              <div class="capsula-item">
                <p>
                  <i class="bi bi-check2-square"></i> Gestión de compras-pagos, ventas-cobranzas.
                </p>
              </div>
            </div>
            <div class="col-6">
              <div class="capsula-item">
                <p>
                  <i class="bi bi-check2-square"></i> Conciliaciones bancarias y cuentas contables.
                </p>
              </div>
            </div>
            <div class="col-6">
              <div class="capsula-item">
                <p>
                  <i class="bi bi-check2-square"></i> Contabilidad, impuestos y sueldos.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="divisor"></div>
<div id="auditoria"></div>
<section class="container auditoria">
  <div class="row align-items-center">
    <div class="row p-4">
      <h1>Desarrollo del plan estratégico comercial</h1>
      <p>
        Un plan de acción comercial es fundamental en función de los objetivos definidos a corto, mediano y largo plazo. Un correcto desarrollo estratégico direcciona y agiliza el camino hacia el éxito, con una mayor participación en el mercado.
      </p>
    </div>
    <div class="col">
      <div class="container">
        <div class="container text-start">
          <div class="row g-2">
            <div class="col-6">
              <div class="capsula-item">
                <p>
                  <i class="bi bi-check2-square"></i> Misión, visión y objetivos organizacionales.
                </p>
              </div>
            </div>
            <div class="col-6">
              <div class="capsula-item">
                <p>
                  <i class="bi bi-check2-square"></i> Definición del cliente objetivo.
                </p>
              </div>
            </div>
            <div class="col-6">
              <div class="capsula-item">
                <p><i class="bi bi-check2-square"></i> Análisis del contexto e investigación de mercado.</p>
              </div>
            </div>
            <div class="col-6">
              <div class="capsula-item">
                <p>
                  <i class="bi bi-check2-square"></i> Asignación de herramientas comerciales.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="divisor"></div>
<div id="servicios-digitales"></div>
<section class="container servicios-digitales">
  <div class="row align-items-center">
    <div class="row p-4">
      <h1>Servicios Digitales</h1>
      <p>
        Nuestra consultora tiene como objetivo identificar oportunidades de
        mejora, con el fin de automatizar tareas y procesos mediante el uso de
        la tecnología.
      </p>
    </div>
    <div class="col">
      <div class="container">
        <div class="container text-start">
          <div class="row g-2">
            <div class="col-6">
              <div class="capsula-item">
                <p>
                  <i class="bi bi-check2-square"></i> Beneficios a través del
                  uso de la digitalización.
                </p>
              </div>
            </div>
            <div class="col-6">
              <div class="capsula-item">
                <p>
                  <i class="bi bi-check2-square"></i> Información precisa y
                  oportuna para la toma de decisiones.
                </p>
              </div>
            </div>
            <div class="col-6">
              <div class="capsula-item">
                <p>
                  <i class="bi bi-check2-square"></i> Medición de resultados con
                  estadísticas que optimicen los parámetros fundamentales.
                </p>
              </div>
            </div>
            <div class="col-6">
              <div class="capsula-item">
                <p>
                  <i class="bi bi-check2-square"></i> Activa conexión entre tus
                  clientes y usuarios.
                </p>
              </div>
            </div>
            <div class="col-6">
              <div class="capsula-item">
                <p>
                  <i class="bi bi-check2-square"></i> Incrementá tu alcance,
                  maximizá tus beneficios.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>