.col {
  display: flex;
  justify-content: center;
  max-height: 636px;
  min-height: 300px;
  text-wrap: balance;
  flex-direction: column;
  text-align: start;
}

/*seccion 2*/
.divisor-superior {
  height: 70px;
  filter: blur(1px);
  background: var(--primary-color);
}

#about {
  margin-bottom: 150px;
}

.divisor {
  background-color: var(--primary-color);
  height: 250px;
  margin-bottom: -150px;
}

@media (max-width: 1199px) {
  .col {
    background-color: var(--background-color);
    border-radius: 20px;
    padding: 2rem;
  }
}
