.col {
  display: flex;
  justify-content: flex-start;
  min-height: 300px;
  text-wrap: balance;
  flex-direction: column;
  text-align: start;
}

.contabilidad,
.impuestos,
.auditoria,
.sueldos,
.financiamiento,
.skills,
.servicios-digitales {
  display: grid;
  place-items: center;
  min-height: 800px;
  justify-content: center;
  height: 100vh;
}

i {
  color: rgb(22, 231, 203);
  font-size: 30px;
}

/*seccion 2*/
.divisor-superior {
  height: 70px;
  filter: blur(1px);
  background: var(--primary-color);
}

.divisor {
  background: rgb(11, 37, 64);
  background: linear-gradient(
    90deg,
    rgba(11, 37, 64, 1) 0%,
    rgba(19, 63, 108, 1) 49%,
    rgba(102, 200, 182, 1) 100%
  );
  height: 150px;
}

.capsula-item {
  min-height: 130px;
  padding: 10px;
  border: solid 2px var(--primary-color);
  border-radius: 12px;
  font-weight: 600;
  color: var(--primary-color);
}

#accordionExample {
  max-width: 900px;
  width: inherit;
}

p{
  max-width: 70pc;
  text-wrap: pretty;
}

@media (max-width: 1199px) {
  .col {
    background-color: var(--background-color);
    border-radius: 20px;
    padding: 2rem;
  }
}

@media (max-width: 890px) {
  .capsula-item {
    width: 100%;
  }

  .col-6 {
    width: 100%;
  }

  #contabilidad,
  #impuestos,
  #auditoria,
  #sueldos,
  #financiamiento,
  #skills,
  #servicios-digitales {
    height: 72px;
  }
}
