.col {
  display: flex;
  justify-content: center;
  max-height: 636px;
  min-height: 300px;
  text-wrap: balance;
  flex-direction: column;
  text-align: start;
}

.contabilidad, .impuestos, .auditoria, .sueldos, .financiamiento{
  display: grid;
  place-items: center;
  min-height: 800px;
  justify-content: center;
  height: 100dvh;
}
 i{
  color: rgb(22, 231, 22);
  font-size: 30px;
}

/*seccion 2*/
.divisor-superior {
  height: 70px;
  filter: blur(1px);
  background: var(--primary-color);
}

#about {
  margin-bottom: 150px;
}

.divisor {
  background-color: var(--primary-color);
  height: 250px;
  margin-bottom: -150px;
}

.capsula-item{
  min-height: 100px;
  padding: 10px;
  border: solid 2px var(--primary-color);
  border-radius: 12px;
  font-weight: 600;
  color: var(--primary-color);
}

@media (max-width: 1199px) {
  .col {
    background-color: var(--background-color);
    border-radius: 20px;
    padding: 2rem;
  }

  #uno{
    display: flex;
    flex-direction: column;
    min-height: 800px;
    justify-content: center;
  }
}

@media (max-width: 890px) {
  .capsula-item{
    width: 100%;
  }

  .col-6{
    width: 100%;
  }
}
