<div class="divisor-superior"></div>
<section class="container contabilidad">
  <div class="row align-items-center">
    <div class="row p-4">
      <h1>Contabilidad</h1>
      <p>
        Despreocupate que nos encargamos de que la partida doble en los libros
        este bien… si queres saber mas en detalle porque sos curioso ahí va:
      </p>
    </div>
    <div class="col">
      <div class="container text-start">
        <div class="row g-2">
          <div class="col-6">
            <div class="capsula-item">
              <p><i class="bi bi-check2-square"></i>
                Inscripción y constitución de sociedades según normas
                vigentes.</p
              >
            </div>
          </div>
          <div class="col-6">
            <div class="capsula-item">
              <p><i class="bi bi-check2-square"></i>
                Implementación de sistemas informáticos contables y de
                costos.</p
              >
            </div>
          </div>
          <div class="col-6">
            <div class="capsula-item">
              <p><i class="bi bi-check2-square"></i>
                Confección y armado de balances y/o estados contables de cierres
                anuales o periodos intermedios.</p
              >
            </div>
          </div>
          <div class="col-6">
            <div class="capsula-item">
              <p><i class="bi bi-check2-square"></i>
                Confección de actas de asamblea, de directorio.</p
              >
            </div>
          </div>
          <div class="col-6">
            <div class="capsula-item">
              <p><i class="bi bi-check2-square"></i> Análisis de estados contables.</p>
            </div>
          </div>
          <div class="col-6">
            <div class="capsula-item">
              <p><i class="bi bi-check2-square"></i> Certificaciones de ingresos.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="divisor"></div>
<section class="container impuestos">
  <div class="row align-items-center">
    <div class="row p-4">
      <h1>Impuestos:</h1>
      <p>
        Desde impulso consultora apuntamos a que tu empresa tenga una pacifica
        relación fisco- contribuyente. Que hacemos por vos en esta área:
      </p>
    </div>
    <div class="col">
      <div class="col">
        <div class="container text-start">
          <div class="row g-2">
            <div class="col-6">
              <div class="capsula-item">
                <p><i class="bi bi-check2-square"></i>
                  Apropiada interpretación de las normas que regulan la
                  materia.</p
                >
              </div>
            </div>
            <div class="col-6">
              <div class="capsula-item">
                <p><i class="bi bi-check2-square"></i>
                  Confeccion de declaraciones juradas de impuestos nacionales y
                  provinciales.</p
                >
              </div>
            </div>
            <div class="col-6">
              <div class="capsula-item">
                <p><i class="bi bi-check2-square"></i> Regimenes de retención.</p>
              </div>
            </div>
            <div class="col-6">
              <div class="capsula-item">
                <p><i class="bi bi-check2-square"></i>
                  Reducción de retenciones de ingresos brutos.</p
                >
              </div>
            </div>
            <div class="col-6">
              <div class="capsula-item">
                <p><i class="bi bi-check2-square"></i>
                  Recategorizacion de monotributo.</p
                >
              </div>
            </div>
            <div class="col-6">
              <div class="capsula-item">
                <p><i class="bi bi-check2-square"></i>
                  Atención de inspecciones de organismos nacionales y
                  provinciales.</p
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="divisor"></div>
<section class="container auditoria">
  <div class="row align-items-center">
    <div class="row p-4">
      <h1>Auditoria:</h1>
      <p>
        Sabias que no solo los balances se auditan?... bueno nosotros tambien te
        auditamos los procesos, tareas y funciones. Nos ocupamos de optimizar
        tus tiempos, tus recursos y no desviarnos de los objetivos definidos.
      </p>
    </div>
  </div>
</section>
<div class="divisor"></div>
<section class="container sueldos">
  <div class="row align-items-center">
    <div class="row p-4">
      <h1>Sueldos:</h1>
      <p>
        Tranquilo…llego impulso!. Contamos con un basto conocimiento en materia
        laboral que nos permitirá asistir a tus inquitudes y en el cumplimiento
        de tus obligaciones.
      </p>
    </div>
    <div class="col">
      <div class="col">
        <div class="container text-start">
          <div class="row g-2">
            <div class="col-6">
              <div class="capsula-item">
                <p><i class="bi bi-check2-square"></i>
                  Liquidaciones de sueldos mensuales, finales.</p
                >
              </div>
            </div>
            <div class="col-6">
              <div class="capsula-item">
                <p><i class="bi bi-check2-square"></i>
                  Altas, bajas y modificaciones.</p
                >
              </div>
            </div>
            <div class="col-6">
              <div class="capsula-item">
                <p><i class="bi bi-check2-square"></i> Libro de sueldo digital.</p>
              </div>
            </div>
            <div class="col-6">
              <div class="capsula-item">
                <p><i class="bi bi-check2-square"></i>
                  Resolucion de inspecciones por parte de organismos nacionales,
                  provinciales y sindicato.</p
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="divisor"></div>
<section class="container financiamiento">
  <div class="row align-items-center">
    <div class="row p-4">
      <h1>Financiamiento:</h1>
      <p>
        Desde nuestra consultora estamos pendientes a todas las líneas de
        financiación. Queremos que nuestros clientes no pierdan oportunidad de
        expansion. Nos encargamos del armado del proyecto, presentación y
        elegibilidad.
      </p>
    </div>
  </div>
</section>
<div class="divisor"></div>
<section class="container sueldos">
  <div class="row align-items-center">
    <div class="row p-4">
      <h1>Servicios Digitales:</h1>
      <p>
        Nuestra consultora tiene como objetivo identificar oportunidades de
        mejora, con el fin de automatizar tareas y procesos mediante el uso de
        la tecnología.
      </p>
    </div>
    <div class="col">
      <div class="col">
        <div class="container text-start">
          <div class="row g-2">
            <div class="col-6">
              <div class="capsula-item">
                <p><i class="bi bi-check2-square"></i> Beneficios a través del uso de la digitalización:.</p>
              </div>
            </div>
            <div class="col-6">
              <div class="capsula-item">
                <p><i class="bi bi-check2-square"></i>
                  Informacion precisa y oportuna para la toma de decisiones.</p
                >
              </div>
            </div>
            <div class="col-6">
              <div class="capsula-item">
                <p><i class="bi bi-check2-square"></i> Medición de resultados con estadísticas que optimicen los parámetros fundamentales.</p>
              </div>
            </div>
            <div class="col-6">
              <div class="capsula-item">
                <p><i class="bi bi-check2-square"></i>
                  Activa conexión entre tus clientes y usuarios.</p
                >
              </div>
            </div>
            <div class="col-6">
              <div class="capsula-item">
                <p><i class="bi bi-check2-square"></i>
                  Incrementa tu alcance, Maximiza tus beneficios.</p
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="divisor"></div>
<section class="container sueldos">
  <div class="row align-items-center">
    <div class="row p-4">
      <h1>Capacitación en soft skills</h1>
      <p>
        Nuestra consultora tiene como objetivo identificar oportunidades de
        mejora, con el fin de automatizar tareas y procesos mediante el uso de
        la tecnología.
      </p>
    </div>
    <div class="col">
      <div class="col">
        <div class="container text-start">
          <div class="row g-2">
            <div class="col-6">
              <div class="capsula-item">
                <p><i class="bi bi-check2-square"></i> Beneficios a través del uso de la digitalización:.</p>
              </div>
            </div>
            <div class="col-6">
              <div class="capsula-item">
                <p><i class="bi bi-check2-square"></i>
                  Informacion precisa y oportuna para la toma de decisiones.</p
                >
              </div>
            </div>
            <div class="col-6">
              <div class="capsula-item">
                <p><i class="bi bi-check2-square"></i> Medición de resultados con estadísticas que optimicen los parámetros fundamentales.</p>
              </div>
            </div>
            <div class="col-6">
              <div class="capsula-item">
                <p><i class="bi bi-check2-square"></i>
                  Activa conexión entre tus clientes y usuarios.</p
                >
              </div>
            </div>
            <div class="col-6">
              <div class="capsula-item">
                <p><i class="bi bi-check2-square"></i>
                  Incrementa tu alcance, Maximiza tus beneficios.</p
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>