<footer id="footer">
  <div class="footer-newsletter">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <h4>Contactá a un asesor</h4>
          <p>
            Te acompañamos en todo el proceso hasta alcanzar el resultado deseado.
          </p>
          <a href="https://wa.link/y67gh1" target="_blank">WhatsApp</a>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-contact">
          <img src="assets\img\logo-impulso.png" alt="impulso consultora" width="190px" >
          <p>
            San Juan <br />
            San Juan, Provincia de San Juan<br />
            Argentina <br /><br />
            <strong>Teléfono:</strong> +54 5589 55488<br />
            <strong>Email:</strong> info-impulsoconsultora@gmail.com<br />
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Links útiles</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/inicio" (click)=" scrollTop()">Inicio</a></li>
            <li>
              <i class="bx bx-chevron-right"></i> <a routerLink="/quienes-somos" (click)=" scrollTop()">Quiene somos</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i> <a routerLink="/servicios"(click)=" scrollTop()">Servicios</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#"(click)=" scrollTop()">Terminos y Servicios</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#" (click)=" scrollTop()">Políticas de privacidad</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Nuestros Servicios</h4>
          <ul>
            <li>
              <i class="bx bx-chevron-right"></i> 
              <a [routerLink]="['/servicios']" fragment="contabilidad" >Contabilidad</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a [routerLink]="['/servicios']" fragment="impuestos" >Impuestos</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a [routerLink]="['/servicios']" fragment="auditoria" >Auditorias</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i> 
              <a [routerLink]="['/servicios']" fragment="servicios-digitales" >Servicios digitales</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i> 
              <a [routerLink]="['/servicios']" fragment="skills">Capacitación en soft skills</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Nuestras redes sociales</h4>
          <p>
            Seguinos y compartí nuestras redes.
          </p>
          <div class="social-links mt-3">
            <a href="#" target="_blank"  class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" target="_blank"  class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" target="_blank"  class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="https://www.linkedin.com/in/maria-victoria-gallardo-ruiz-52301267/" target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></a>
            <a href="https://www.linkedin.com/in/maria-victoria-gallardo-ruiz-52301267/" target="_blank"  class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container footer-bottom clearfix">
    <div class="copyright">
      © Copyright <strong><span>Impulso consultora</span></strong
      >. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
      Designed by <a href="https://nicoweb.com.ar/" target="_blank">NicoWeb</a>
    </div>
  </div>
</footer>
