/* botones-whatsapp.component.css */

.hidden {
  opacity: 0;
  visibility: hidden;
  transition: transform 250ms;
  transition: opacity 0.5s ease-in, visibility 0.3s ease;
}

#whatsapp-button {
  display: grid;
  place-items: center;
  position: fixed;
  bottom: 50px;
  right: 35px;
  width: 60px;
  height: 60px;
  background-color: #25d366;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transition: opacity 1.5s ease-in, visibility 0.3s ease,
  background-color 0.3s ease;
  cursor: pointer; /* Agregamos cursor para indicar que es un enlace */
}

#whatsapp-button:hover {
  background-color: #128c7e;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  transform: translateY(-10px);
  transition: transform 250ms;
}

.show {
  opacity: 1;
}


.estilo-icono {
  font-size: 35px;
  color: var(--text-color-b);
}
