.divisor-superior {
  height: 70px;
  filter: blur(1px);
  background: var(--primary-color);
}

.divisor {
  background-color: var(--primary-color);
  background: linear-gradient(
    90deg,
    rgba(11, 37, 64, 1) 0%,
    rgba(19, 63, 108, 1) 49%,
    rgba(102, 200, 182, 1) 100%
  );
  height: 250px;
  margin-bottom: -150px;
}

.titulo {
  margin: 45px 0;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-wrap: balance;
}

.info{
      min-height: 250px;
}

a {
  color: var(--text-color-b);
}

span{
      background-color: var(--primary-color);
}

span:hover {
  background: var(--secondary-color) !important;
  transform: translateY(-3px);
}
