<div class="divisor-superior"></div>
<section class="container text-center" id="1">
  <div class="row align-items-center">
    <div class="col">
      <h1>Ivana y victoria</h1>
      <p>
        Somos dos mujeres, mamás, profesionales de las ciencias económicas,
        apasionadas en ver la evolución de las semillas sembradas en cada
        desafío que aceptamos llevar adelante. Mediante la transformación humana
        y digital, impulsando cada ente a un siguiente nivel.
      </p>
    </div>
    <div class="col">
      <img src="assets\img\team\team-2.jpg" alt="" />
    </div>
  </div>
</section>
<div class="divisor"></div>
<section class="container text-center" id="about">
  <article class="contenedor-card">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Cultura:</h5>
        <p class="card-text">
          Queremos tener clientes felices basándonos en una relación cercana y
          fluida, proponiendo desafíos sencillos que permitan una mejora
          continua con el fin de lograr el crecimiento constante y un ambiente
          positivo. Tranquilos…. sabemos que esto no lo lograremos de un día
          para el otro, pero trabajando juntos codo a codo todo será posible.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <p class="card-text">
          Creemos que la toma de decisiones por consenso, la búsqueda del beneficio a largo plazo, la búsqueda constante de innovación, la actitud positiva y la comunicación fluida entre diferentes niveles jerárquicos proporcionan las herramientas necesarias para que las cosas sucedan.
        </p>
      </div>
    </div>
  </article>
  <article class="articulo2">
    <p>
      Nos identificamos con diferentes valores, los cuales atraviesan transversalmente cada acción
      que llevamos a cabo, necesarios para otorgar condiciones fundamentales y necesarias que
      garanticen el logro de los objetivos de manera óptima.
    </p>
    <ul>
      <h5>Valores:</h5>
      <li>Trabajo en equipo</li>
      <li>Consenso</li>
      <li>Transparencia</li>
      <li>Pasión</li>
      <li>Positivismo</li>
      <li>Orientación al cliente</li>
      <li>Responsabilidad social</li>
    </ul>
  </article>
</section>
<div class="divisor-2">
  <h5>Rol:</h5>
  <p>
    Acompañar y resolver desafíos cotidianos de nuestros clientes transitando juntos el camino
    hacia la concreción de los sueños, de manera sencilla y amena.
  </p>
</div>

