<div class="divisor-superior" id="quienes-somos"></div>
<section class="container text-start">
  <div class="row align-items-center principal">
    <div class="col align-items-center">
      <h1 class="titulo-h1">¿Quiénes somos?</h1>
      <div class="parrafo-q-s">
        <p>
          Somos Ivana y Victoria, mamás, profesionales de las ciencias
          económicas. El mundo de los números y las leyes nos unió hace casi 20
          años. Cada una logramos desarrollarnos y adquirir experiencia en
          distintos rubros, algunos años más tarde concretamos el sueño de
          emprender nuestra consultora.
        </p>
        <p>
          Ver la evolución de las semillas
          sembradas en cada desafío que aceptamos llevar adelante es nuestra
          pasión. Impulsamos a cada ente a un siguiente nivel mediante la
          transformación humana, de procesos y digitalización. Queremos ser
          parte de tu progreso.
        </p>
      </div>
    </div>
    <div class="col">
      <img src="assets\img\impulso-about.webp" width="70%" class="about" />
    </div>
  </div>
</section>
<div class="divisor" id="cultura">
  <section class="container text-start">
    <h5 class="titulo">Cultura:</h5>
    <article class="contenedor-card">
      <div class="card">
        <div class="card-body">
          <p class="card-text">
            Queremos tener clientes felices basándonos en una relación cercana y
            fluida, proponiendo desafíos sencillos que permitan una mejora
            continua con el fin de lograr el crecimiento constante y un ambiente
            positivo. Sabemos que esto no lo lograremos de un día para el otro,
            pero trabajando juntos codo a codo todo será posible.
          </p>
        </div>
      </div>
    </article>
  </section>
</div>
<div class="divi" id="valores"></div>
<section class="container text-start valores">
  <article class="articulo2">
    <h5 class="titulo2">Valores:</h5>
    <p class="text-center">
      Nos identificamos con diferentes valores, los cuales atraviesan
      transversalmente cada acción que llevamos a cabo, necesarios para otorgar
      condiciones fundamentales y necesarias que garanticen el logro de los
      objetivos de manera óptima.
    </p>
    <ul class="valores-lista">
      <li>Trabajo en equipo</li>
      <li>Consenso</li>
      <li>Transparencia</li>
      <li>Pasión</li>
      <li>Positivismo</li>
      <li>Orientación al cliente</li>
      <li>Responsabilidad social</li>
    </ul>
  </article>
</section>
<article class="divisor-2" id="rol">
  <div>
    <h5 class="titulo">Rol:</h5>
    <p class="text-center">
      Acompañar y resolver desafíos cotidianos de nuestros clientes transitando
      juntos el camino hacia la concreción de los sueños, de manera sencilla y
      amena.
    </p>
  </div>
</article>
