<div class="divisor-superior" id="quienes-somos"></div>
<section class="container text-start" >
  <div class="row align-items-center">
    <div class="col align-items-center">
      <h1 class="titulo-h1">¿Quienes somos?</h1>
      <div class="parrafo-q-s">
        <p>
          Somos dos mujeres, mamás, profesionales de las ciencias económicas,
          apasionadas en ver la evolución de las semillas sembradas en cada
          desafío que aceptamos llevar adelante.
        </p>
        <p>
          Mediante la transformación humana y digital, impulsando cada ente a un
          siguiente nivel.
        </p>
      </div>
    </div>
    <div class="col">
      <img src="assets\img\team\team-2.jpg" alt="" />
    </div>
  </div>
</section>
<div class="divisor" id="cultura">
  <section class="container text-start">
    <h5 class="titulo">Cultura:</h5>
    <article class="contenedor-card">
      <div class="card">
        <div class="card-body">
          <p class="card-text">
            Queremos tener clientes felices basándonos en una relación cercana y
            fluida, proponiendo desafíos sencillos que permitan una mejora
            continua con el fin de lograr el crecimiento constante y un ambiente
            positivo. Tranquilos…. sabemos que esto no lo lograremos de un día
            para el otro, pero trabajando juntos codo a codo todo será posible.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <p class="card-text">
            Creemos que la toma de decisiones por consenso, la búsqueda del
            beneficio a largo plazo, la búsqueda constante de innovación, la
            actitud positiva y la comunicación fluida entre diferentes niveles
            jerárquicos proporcionan las herramientas necesarias para que las
            cosas sucedan.
          </p>
        </div>
      </div>
    </article>
  </section>
</div>
<div class="divi" id="valores"></div>
<section class="container text-start valores">
  <article class="articulo2">
    <h5 class="titulo2">Valores:</h5>
    <p class="text-center">
      Nos identificamos con diferentes valores, los cuales atraviesan
      transversalmente cada acción que llevamos a cabo, necesarios para otorgar
      condiciones fundamentales y necesarias que garanticen el logro de los
      objetivos de manera óptima.
    </p>
    <ul class="valores-lista">
      <li>Trabajo en equipo</li>
      <li>Consenso</li>
      <li>Transparencia</li>
      <li>Pasión</li>
      <li>Positivismo</li>
      <li>Orientación al cliente</li>
      <li>Responsabilidad social</li>
    </ul>
  </article>
</section>
<article class="divisor-2" id="rol">
  <div>
    <h5 class="titulo">Rol:</h5>
    <p class="text-center">
      Acompañar y resolver desafíos cotidianos de nuestros clientes transitando
      juntos el camino hacia la concreción de los sueños, de manera sencilla y
      amena.
    </p>
  </div>
</article>
<div class="submenu">
  <ul>
    <li><a id="cultura-link" style="cursor: pointer">Cultura</a></li>
    <li><a id="valores-link" style="cursor: pointer">Valores</a></li>
    <li><a id="rol-link" style="cursor: pointer">Rol</a></li>
  </ul>
</div>
