section {
  padding-top: 60px;
}

.titulo-h1 {
  width: 350px;
  font-size: 60px;
  margin-bottom: 25px;
  line-height: 1;
}

#cultura section,
.valores {
  padding-top: 30px;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.col {
  display: flex;
  justify-content: center;
  max-height: 636px;
  min-height: 300px;
  text-wrap: balance;
  flex-direction: column;
  text-align: start;
}

/*seccion 2*/
.divisor-superior {
  height: 70px;
  filter: blur(1px);
  background: var(--primary-color);
}

.divisor {
  background-color: var(--primary-color);
  height: auto;
  padding: 50px 0;
}

.contenedor-card {
  display: flex;
  flex-wrap: nowrap;
  gap: 5%;
  justify-content: center;
  flex-direction: row;
}

.card {
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  margin-bottom: 20px;
  width: 50%;
  border: none;
  margin-top: 20px;
  min-height: 230px;
  text-wrap: balance;
}

.card-body {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.articulo2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 20% 6%;
  gap: 10px;
  max-width: 1200px;
}

article p {
  display: flex;
  text-align: justify;
}

.divisor-2 {
  background-color: var(--primary-color);
  height: 450px;
  display: grid;
  color: var(--text-color-b);
  place-items: center;
}

.divisor2 div {
  margin: 30% 0;
}
.divisor-2 p {
  max-width: 600px;
  text-align: start;
  padding: 0 6%;
}

.divisor-2 div h5 {
  padding: 0 6%;
}

.parrafo-q-s {
  max-width: 350px;
  text-align: justify;
}

.titulo,
.titulo2 {
  font-size: 60px;
  color: var(--text-color-b);
  text-align: center;
  width: 100%;
  margin: 25px 0 0 0;
}

.titulo2 {
  color: #333;
}

/*seccion-valores*/
.valores-lista {
  width: 100%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  list-style: none;
  padding: 0;
  justify-content: center;
}

.valores-lista li {
  border: 2px solid #47b2e4;
  padding: 5px 10px;
  border-radius: 24px;
}

/*submenu*/
.submenu {
  position: fixed;
  top: 76px;
  right: 0;
  background-color: #ffffffab;
  border-radius: 20px;
  margin-right: 10px;
  padding: 5px 10px;
  border: 1px solid #3333336b;
  z-index: 995;
}

.submenu ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 10px;
  gap: 15px;
}

.submenu ul li {
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.submenu ul li a:hover {
  color: var(--secondary-color);
}

@media (max-width: 980px) {
  .contenedor-card {
    flex-direction: column;
  }

  .card {
    width: 100%;
  }

  .principal{
    flex-direction: column;
  }
}
