section {
  padding-top: 60px;
}

.primera-seccion{
  background-image: url(https://plus.unsplash.com/premium_photo-1683120730432-b5ea74bd9047?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position-x: center;
    background-size: cover;
    height: 630px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 2rem;
    max-width: 1030px;
    margin: 5rem;
    min-width: 380px;
}

.segunda-seccion{
  background-image: url(https://images.unsplash.com/photo-1557804506-669a67965ba0?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: bottom left;
    background-size: cover;
    height: 630px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 2rem;
    max-width: 1030px;
    margin: 5rem;
    min-width: 380px;
}

.titulo-h1 {
  width: 350px;
  font-size: 60px;
  margin-bottom: 25px;
  line-height: 1;
}

#cultura section,
.valores {
  padding-top: 30px;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.col {
  display: flex;
  justify-content: flex-end;
  min-height: 480px;
  text-wrap: balance;
  flex-direction: column;
  text-align: start;
}

/*seccion 2*/
.divisor-superior {
  height: 70px;
  filter: blur(1px);
  background: var(--primary-color);
}

.divisor {
  background: #f8f8f87c;
  width: 100vw;
  height: auto;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor-card {
  display: flex;
  flex-wrap: nowrap;
  gap: 5%;
  justify-content: center;
  flex-direction: row;
  position: relative;
}

.card {
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  margin-bottom: 20px;
  width: 44%;
  border: none;
  border-radius: 2rem;
  margin-top: 20px;
  min-height: 230px;
  text-wrap: balance;
}

.card-cultura{
  position: absolute;
    right: -120px;
    top: 220px;
}

.card-vision{
  position: absolute;
    left: -140px;
    top: -134px;
}

.card-rol{
  position: absolute;
  right: -120px;
  bottom: -650px;
}

.card-body {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.articulo2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 20% 6%;
  gap: 10px;
  max-width: 1200px;
}

article p {
  display: flex;
  align-items: center;
}

.divisor-2 {
  background: linear-gradient( 90deg, rgba(11, 37, 64, 1) 0%, rgba(19, 63, 108, 1) 49%, rgba(102, 200, 182, 1) 100% );;
  height: 40rem;
  display: grid;
  color: var(--text-color-b);
  place-items: center;
}

.divisor2 div {
  margin: 30% 2%;
}
.divisor-2 p {
  text-align: start;
  padding: 0 6%;
  flex: 1;
}

.divisor-2 div h5 {
  padding: 0 6%;
}

.parrafo-q-s {
  max-width: 350px;
  text-align: justify;
}

.titulo,
.titulo2 {
  font-size: 60px;
  color: var(--primary-color);
  text-align: start;
  width: 100%;
  margin: 0 0 2rem 0;
}

.titulo2 {
  color: #333;
}

/*seccion-valores*/
.valores-lista {
  width: 100%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  list-style: none;
  padding: 0;
  justify-content: flex-start;
}

.valores-lista li {
  border: 2px solid #47b2e4;
  padding: 5px 10px;
  border-radius: 24px;
  font-size: 14px;
}

/*submenu*/
.submenu {
  position: fixed;
  top: 76px;
  right: 0;
  background-color: #ffffffab;
  border-radius: 20px;
  margin-right: 10px;
  padding: 5px 10px;
  border: 1px solid #3333336b;
  z-index: 995;
}

.submenu ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 10px;
  gap: 15px;
}

.submenu ul li {
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.submenu ul li a:hover {
  color: var(--secondary-color);
}

.mobile-responsive{
  display: none;
}


@media (max-width: 980px) {
  .mobile-responsive{
    display: flex;
  }
  .margin-0{
    margin: 0;
  }

  .m-top{
    margin-top: -3rem;
  }

  .m-bottom{
    margin-bottom: -3rem;
  }

  .text-balanceado{
    text-wrap: balance;
  }

  .p-laterales{
    padding: 0 1rem;
  }

  .version-escritorio{
    display: none;
  }
  .contenedor-card {
    flex-direction: column;
  }

  .rol-padding{
    padding: 0 2%;
  }

  .card {
    width: 100%;
  }

  .principal {
    flex-direction: column;
  }

  .col{
    min-height: 300px;
  }

  .about{
    width: 100%;
  }
}
