<header
  id="header"
  class="fixed-top"
  [ngClass]="{ 'header-scrolled': isHeaderScrolled }"
>
  <div class="container d-flex align-items-center">
    <h3 class="logo me-auto"><a routerLink="/inicio" >Impulso consultora</a></h3>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" routerLink="/inicio">Inicio</a></li>
        <li class="dropdown">
          <a routerLink="/servicios"
            ><span>Servicios</span> <i class="bi bi-chevron-down"></i
          ></a>
          <ul>
            <li><a href="#">contabilidad</a></li>
            <li><a href="#"><span>impuestos</span></a></li>
            <li><a href="#">Auditorias</a></li>
            <li><a href="#">Servicios digitales</a></li>
            <li><a href="#">Capcitación en soft skills</a></li>
          </ul>
        </li>
        <li><a class="nav-link scrollto" routerLink="/quienes-somos">Quienes somos</a></li>
        <li><a class="nav-link scrollto" routerLink="/contacto">Contacto</a></li>
        <li><a class="getstarted scrollto" id="cta" href="https://wa.link/y67gh1" target="_blank">Pedir asesoría</a></li>
      </ul>
      <i class="mobile-nav-toggle bi bi-list" ></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>
