<header>
  <h2>Testimonios</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima iure,
    accusamus tempore numquam aliquid consequuntur?
  </p>
</header>
<article class="contenedor-card">
  <div class="card" style="width: 18rem">
    <img src="assets/img/cta-bg.jpg " class="card-img-testimonio" alt="..." />
    <div class="card-body">
      <cite class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </cite>
      <h5 class="card-title">Nombre del cliente</h5>
    </div>
  </div>
  <div class="card" style="width: 18rem">
    <img src="assets/img/cta-bg.jpg " class="card-img-testimonio" alt="..." />
    <div class="card-body">
      <cite class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </cite>
      <h5 class="card-title">Nombre del cliente</h5>
    </div>
  </div>
  <div class="card" style="width: 18rem">
    <img src="assets/img/cta-bg.jpg " class="card-img-testimonio" alt="..." />
    <div class="card-body">
      <cite class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </cite>
      <h5 class="card-title">Nombre del cliente</h5>
    </div>
  </div>
</article>
